<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Panjwani Tutorials | Dynamic Dependant/Chained Dropdownlist</title>
</head>
<body>
<div class="container mt-5" style="width:40%">
    <h3>Dynamic Dependant/Chained Dropdownlist</h3>
    <label for="anumandal">Anumandal</label>
    <select class="form-select" aria-label="Default select example" id="anumandal" onchange="countryfield()">
        <option selected>Choose Anumandal</option>
        {% for i in anumandal %}
            <option value="{{i.id}}" {% if request.GET.anumandal == i.id|lower %}selected{% endif %}>{{i.anumandal_name}}</option>
        {% endfor %}
    </select>
    <br/>
    <label for="block">Block</label>
    <select class="form-select" aria-label="Default select example" id="block" onchange="statefield()">
        <option selected>Choose Block</option>
        {% for i in block %}
            <option value="{{i.id}}" {% if request.GET.block == i.id|lower %}selected{% endif %}>{{i.block_name}}</option>
        {% endfor %}
    </select>
<br/>
    <label for="panchayat">Panchayat</label>
    <select class="form-select" aria-label="Default select example" id="panchayat">
        <option selected>Panchayat</option>
        {% for i in panchayat %}
            <option value="{{i.id}}">{{i.panchayat_name}}</option>
        {% endfor %}
    </select>
    <br/>
</div>
<script>
    function countryfield(){
        anumandalid = document.getElementById('anumandal').value;
        window.location = "/?anumandal="+anumandalid;
    }
    function statefield(){
        blockid = document.getElementById('block').value;
        window.location = "/?anumandal="+'{{request.GET.anumandal}}'+"&block="+blockid;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>